<div class="row">
    <div class="col-offset-md-6 col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
              login
            </div>
            <div class="panel-body">
                <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" [(ngModel)] = "authDetails.email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="text" [(ngModel)] = "authDetails.password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                
                <button type="submit" (click)="login()" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
          
          
    </div>
</div>

